{% extends 'dex/base.html' %}

{% block content %}
    <div class="detail">
        {% if detail.published_date %}
            <div class="date">
                {{ detail.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'detail_edit' pk=detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ detail.title }}</h2>
        <p>{{ detail.text|linebreaksbr }}</p>
    </div>
{% endblock %}